.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #2196f3;
  border: 0;
  outline: 0;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  font: inherit;
  font-weight: 500;
  user-select: none;
  transition: background-color 250ms $timing-function;

  &:hover {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #1976d2;
  }

  &__icon {
    margin-right: 8px;
  }
}
