/* MENU */

.menu {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100% - 64px);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 24px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 8px;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    flex-grow: 1;
  }

  &__image {
    height: 300px;
    object-fit: cover;
    max-width: 100%;
  }

  &__name {
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
  }

  &__descr {
    line-height: 1.5;
    flex-grow: 1;
  }

  &__price {
    display: flex;
    align-items: center;
    margin-top: 24px;
    font-size: 20px;
  }

  &__price i {
    margin-right: 8px;
    font-size: 24px;
  }

  &__reviews {
    display: block;
    margin-top: 16px;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    width: calc(100% - 16px);
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    padding: 4px 8px;
    margin: 4px;
    border-radius: 2px;
    background-color: #3f51b5;
    color: #fff;
  }
}
